# Docker
# Build a Docker image 
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- master
- azure-pipelines

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:  
  - job: Build
    displayName: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        containerRegistry: dockerHubConnection
        dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
        arguments: '--build-arg ISSUER_ARG=$(ISSUER) --build-arg CLIENT_ID_ARG=$(CLIENT_ID) --build-arg REDIRECT_URI_ARF=$(REDIRECT_URI)'
    - task: Docker@2
      displayName: Push an image to container registry
      inputs:
        command: push
        repository: $(repostiryName)
        dockerfile: '**/Dockerfile'
        containerRegistry: dockerHubConnection
        tags: |
          $(tag)
